* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}
header h1 {
  text-align: center;
  background: -webkit-linear-gradient(left, rgb(0, 115, 255), rgb(7, 0, 36));
  color: white;
  width: 100%;
  
}

.sideBar {
 
 height: 100%; 
  width: 25%;
position: absolute;
  padding-top: 0.2%;
  padding-left: 1%;
  display: block;
  justify-content: center;
  text-align: left;

}
.cityNamesh2{
    font-size: large;
    color: black;
    font-weight: bold;
}
#searchInput{
    width: 99.9%;
    justify-content: center;
    height: 40px;
    
}
#searchBtn {
    
    width: 99.9%;
    justify-content: center;
    height: 30px;
    color: white;
    background-color: lightskyblue;
    border-radius: 10px;
}
.sideBar ul li{
    margin-top: 2%;
    margin-bottom: 2%;
}
.sideBarUl{
    border-bottom: solid 2px black;
    width: 97%;
  
}
.cityNameBtn{
    color: black;
    background-color: gray;
    width: 97%;
    height: 30px;
  border-radius: 10px;

}
#storageNames{height:600px
}
.sideBarUl .sideBarUl{height: 50px;}

.dataMainDiv{
    border: 1px solid black;
    width: 70%;
    margin-left: 27%;
    margin-top: 1%;
    display: flexbox;
}
.dataMainDiv h1{
    padding-bottom: 3%;
}
.dataMainDiv ul li {
    padding-bottom: 3%;
}
.choosenDataLi{
    font-size: large;
    font-weight: bold;
}
 .dataMainDiv ul li #uvIndex{
    background-color: green;
    padding: 7px;
    border-radius: 6px;
}
#forecast-h2{
    width: 15%;
    margin-left: 27%;
    margin-top: 2%;

}

.forcast-box{
    border: 1px solid black;
    background-color: rgba(39, 137, 159, 0.33);
    width: auto;
    height: auto;
    margin-left: 27%;
    margin-top: 2%;
 

}
#week-forecast-data{
    width: 15%;
    height: 250px;
    margin-left:7%;
    margin-top: 3%;
    background-color: white;
    display: inline-block;
    padding-left: 90px;
 }
 
 .week-forecast-p{
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    color: black;

 }
 #week-forecast-img{
    width: 40%;
    border: 3px solid red;
    border-radius: 15px;
    margin-left: 10%;
 }


#mainIcon{
    width:95px
}
#dataMainDivSpan{
    font-weight: bold;
}
#choosenTemp{
    font-weight: bold;
}

